.position {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.name {
  font-size: 1.2rem;
  margin-left: 2rem;
}

.trash, .arrow-up, .arrow-down {
  cursor: pointer;
}

.offset, .trash, .arrow-up, .arrow-down {
  margin-left: .4rem;
  margin-right: .4rem;
}

.offset {
  height: 20px;
  width: 20px;
}
